.formRows{
    text-align: left;
}

.containerStyle{
    max-width: 90% !important;
}

.actColumn{
    display:inline-block;
    border: 2px solid #00c9ff;
    border-radius: 10px;
    max-width: 40% !important;
}

.secondColumn {
    height: 2rem;
}

.centerTabContent{

    justify-content: center;
    padding-top: 1rem;
}

